body {
  background-color: black;
}
.login-head{
    color: #088187 !important;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.login-btn{
  border:1px solid #04253f;
  color: #064455 !important;
}
.login-btn:hover{
  border:1px solid #04253f;
  background-color: #078f9c !important;
}
.signin{
  background: linear-gradient(
    to right,
    #04253f,
    #064455,
    #097779,
    #088187,
    #078f9c
  );
  color: white;
  border:1px solid blue;
}
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #04253f,
    #064455,
    #097779,
    #088187,
    #078f9c
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    #04253f,
    #064455,
    #097779,
    #088187,
    #078f9c
  );
}
/* @media(max-width : 768px){
  .new{
    display: none !important;
  }
} */
@media (max-width: 768px) {
  .gradient-form {
    height: 100vh !important;
    margin-left: -10px;
  }
}
@media (max-width: 426px) {
  .gradient-custom-2 {
     position: absolute;
     top: 600px !important;
     left: 0px;
  }
  .gradient-form #form1{
    width: 320px !important;
  }
}
@media (max-width: 376px) {
  .gradient-form #form1{
    width: 270px !important;
  }
}
@media (max-width: 320px) {
  .gradient-form #form1{
    width: 250px !important;
    
  }
  .gradient-form{
    margin-left: -20px;
  }
}
